.game {
    display: flex;
    flex-direction: row;
}

ol, ul {
  padding-left: 30px;
}

.game-info {
    margin-left: 20px;
}
.game-moves button {
  padding: 10px;
  font-size: 18px;
  background-color: turquoise;
  color: black;
  outline: none;

}
  